# Node.js
node_modules/
npm-debug.log
package-lock.json

# dotenv or secrets (if added later)
.env

# Docker
*.log
*.pid
docker-compose.override.yml

# VSCode or IDEs
.vscode/
.idea/

# macOS/Linux system files
.DS_Store
Thumbs.db
